<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <link rel="stylesheet" href="./assets/css/allstyle.css">
    <link rel="stylesheet" href="./assets/css/header.css">
</head>
<body>
    <div id="header">
        <div class="header-primary">
            <div class="fl-row row-fixed">
                <div class="col-group col-of-3">
                    <div class="col"><div class="main-logo"><img src="https://i.postimg.cc/wTdwMZmk/logo.png" alt="logo" width="200px"></div></div>
                    <div class="col">
                        <nav class="head-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="./pages/contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col"><a href="#">Get Started</a></div>
                </div>
            </div>
        </div>        
    </div>
    
</body>
</html> 