:root {
    --accent: #E5A102;
    --accent2: #0f1825;
    --white: #ffffff;
  }

/* Global */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'thicccboilight';
    margin-top: 0;
}
h1 {
    font-size: 55px;
    line-height: 65px;
}
.fl-row {
    padding: 2em 0;
}
a, a:focus, a:visited{
    text-decoration: none;
    color: var(--white);
}
/* Global Button */
div.btn-box a {
    width: fit-content;
    margin: auto;
    display: block;
    color: var(--white);
    padding: 10px 20px;
}
.dual-buttons {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.dual-buttons .btn-box a {
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 17px;
    font-family: 'thicccboibold';
    z-index: 1;
    position: relative;
}
.dual-buttons .btn-1 a {
    border: 2px solid var(--white);
    transition: all ease 0.3s;
}
.dual-buttons .btn-1 a:hover {
    color: var(--accent2);
}
.dual-buttons .btn-1 a:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    background: var(--white);
    top: 0;
    left: 0;
    transition: all ease .4s;
    z-index: -1;
}
.dual-buttons .btn-1 a:hover:after {
    height: 100%;
}
.dual-buttons .btn-2 {
    margin-left: 30px;
}
.dual-buttons .btn-2 a {
    border: 2px solid var(--accent);
    color: var(--white);
}
.dual-buttons .btn-2 a:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--accent);
    bottom: 0;
    left: 0;
    transition: all ease .4s;
    z-index: -1;
}
.dual-buttons .btn-2 a:hover:after {
    height: 0%;
}
