:root {
    --white: #ffffff;
    --accent: #E5A102;
    --accent1:#008080;
    --accent2: #0f1825;
    --accent3: #162030;
  }
/* Particles JS */
#particles-js {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* Global */
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
body p {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
main {
    background-color: var(--accent2);
    padding-top: 7.5em;
}
body h1, body h2, body h3, body h4 {
    font-family: 'thicccboibold';
    margin-top: 0;
    color: var(--white);;
}
body h1 {
    font-size: 52px;
    line-height: 60px;
}
body h2 {
    font-size: 46px;
    line-height: 56px;
}
body h3 {
    font-size: 34px;
    line-height: 44px;
}
body h4 {
    font-size: 26px;
    line-height: 26px;
}
body a, body a:focus, body a:visited{
    text-decoration: none;
}
/* Rows */
.fl-row {
    padding: 2em 0;
}
.fl-row.alt-bg {
    background: var(--accent3);
}
/* Global Button */
div.btn-box a {
    width: fit-content;
    margin: auto;
    display: block;
    color: var(--white);
    padding: 10px 20px;
}
.dual-buttons {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.dual-buttons .btn-box {
    position: relative;
}
.dual-buttons .btn-box a {
    padding: 12px 25px;
    font-size: 17px;
    font-family: 'thicccboibold';
    z-index: 1;
    position: relative;
}
.dual-buttons .btn-1 a {
    border: 2px solid var(--white);
    transition: all ease 0.5s;
}
.dual-buttons .btn-1 a:hover {
    color: var(--accent2);
}
.dual-buttons .btn-1 a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 6px solid;
    border-left-color: var(--white);
    border-right-color: transparent;
    border-top-color: var(--white);
    border-bottom-color: transparent;
}
.dual-buttons .btn-1 a:after {
    content: "";
    position: absolute;
    height: 20%;
    width: 0%;
    background: var(--white);
    top: 0;
    left: 0;
    transition: all ease-in-out .5s;
    z-index: -1;
    --mask: linear-gradient(-45deg,#0000 9px, var(--accent2) 0);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.dual-buttons .btn-1 a:hover:after {
    height: 100%;
    width: 100%;
    transition: all ease-in-out .5s;
    -webkit-mask: none;
    mask: none;
}
.dual-buttons .btn-1::before {
    content: '';
    position: absolute;
    top: 0;
    width: 5px;
    height: calc(100% + 5px);
    right: -5px;
    border-top: 5px solid transparent;
    border-left: 5px solid #ffffff;
    opacity: 0.25;
}
.dual-buttons .btn-1::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid transparent;
    opacity: 0.25;
}
.dual-buttons .btn-2 {
    margin-left: 30px;
}
.dual-buttons .btn-2 a {
    color: var(--white);
    border: 2px solid;
    border-image: linear-gradient(291deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    border-image-slice: 1;
    transition: all ease .5s;
}
.dual-buttons .btn-2 a:hover .btn-txt {
    background: -webkit-linear-gradient(145deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .dual-buttons .btn-2 a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border: 6px solid;
    border-left-color: transparent;
    border-right-color: var(--accent);
    border-top-color: transparent;
    border-bottom-color: var(--accent);
} */
.dual-buttons .btn-2 a:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--accent);
    background-image: linear-gradient(291deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    bottom: 0;
    right: 0;
    transition: all ease .5s;
    z-index: -1;
}
.dual-buttons .btn-2 a:hover:after {
    height: 0%;
    transition: all ease 0.6s;
}
.dual-buttons .btn-2::before {
    content: '';
    position: absolute;
    top: 0;
    width: 5px;
    height: calc(100% + 5px);
    right: -5px;
    border-top: 5px solid transparent;
    border-left: 5px solid var(--accent);
    opacity: 0.3;
}
.dual-buttons .btn-2::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(291deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    border-image-slice: 1;
    opacity: 0.3;
    --mask: linear-gradient(45deg,#0000 3px,#000 0);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* Row Bottom Text */
.row-bottom {
    padding-top: 50px;
}
.row-bottom span {
    display: block;
    font-family: 'Bungee Shade', cursive;
    font-size: 100px;
    line-height: 120px;
    -webkit-text-stroke: 2px var(--accent3);
    -webkit-text-fill-color: var(--accent3);
}
.row-bottom.style-2 span {
    -webkit-text-stroke: 2px var(--accen2);
    -webkit-text-fill-color: var(--accent2);
    text-align: right;
}


/* ===========HOMEPAGE=========== */

/* Hero Section */
.fl-row.hero {
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' width='595' height='894' viewBox='0 0 595 894' fill='none'%3E%3Cmask id='mask0_284_79' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='595' height='894'%3E%3Crect width='595' height='894' fill='%230F1825'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_284_79)'%3E%3Cpath d='M1.26712 930.505C282.006 910.881 526.902 865.58 546.48 763.174C578.097 596.069 -14.8778 410.455 14.2582 240.969C28.1855 159.353 186.06 83.3435 683.517 50.6629' stroke='%23E5A102' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    color: var(--white);
    padding: 7em 0 15em 0;
    height: fit-content;
    position: relative;
}
.hero .col-group .hero-col:first-child {
    width: 60%;
}
.hero .col-group .hero-col:last-child {
    width: 40%;
}
.hero h1 {
    font-family: 'thicccboiblack';
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
}
.hero h1 span {
    -webkit-text-stroke: 1px var(--white);
    -webkit-text-fill-color: transparent;
}
.hero .text-block {
    padding-right: 100px;
}
.hero .text-block p {
    font-size: 20px;
    line-height: 34px;
}
@keyframes rotate-obj {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
.hero .image-box.anim-img img{
    animation: rotate-obj 15s infinite linear;
    translate: 150px 100px;
    filter: brightness(0) saturate(100%) invert(54%) sepia(100%) saturate(673%) hue-rotate(7deg) brightness(98%) contrast(98%);
}


/* About Us Section */
.fl-row.about-us {
    padding: 2em 0 0 0;
}
.about-us .container {
    max-width: 1200px;
}
.fl-row.about-us .col:nth-child(2) {
    background-color: var(--accent);
    background-image: linear-gradient(180deg, rgba(0,128,128,1) 0%, rgba(229,161,2,1) 100%);
    margin-top: -80px;
}
.fl-row.about-us .col:nth-child(3) {
    background: var(--accent2);
}
.fl-row.about-us .col {
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.yellow-box {
    width: fit-content;
    padding: 4px 4px 21px 4.5px;
    background: var(--accent1);
    margin-bottom: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.yellow-box p {
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--accent3);
}
.fl-row.about-us .col:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    height: 50px;
    width: 50px;
    border-bottom: 50px solid #005555;
    border-left: 50px solid transparent;
    z-index: 2;
}
.fl-row.about-us .col:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 50px;
    border-top: 50px solid #684901;
    border-right: 50px solid transparent;
    z-index: 2;    
}
.fl-row.about-us .col:nth-child(3)::after {
    content: '';
    position: absolute;
    width: calc(100% + 50px);
    height: 50px;
    bottom: -50px;
    background: var(--accent2);
    left: -50px;
    z-index: 1;
}
.divider {
    margin: 20px 0;
}
.divider .separator {
    display: block;
    height: 3px;
    width: 60px;
    background: var(--accent);
}
.icon-box {
    margin-bottom: 30px;
}
.about-us .icon-box img {
    filter: invert(1);
}
.about-us .icon-box.style-2 img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(21%) saturate(3676%) hue-rotate(8deg) brightness(99%) contrast(98%);
}
.about-us .col .heading {
    margin-bottom: 10px;
}
.btn-box.arrow-btn a {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
}
.btn-box.arrow-btn .btn-icon {
    filter: invert(1);
    padding-left: 10px;
    transform: translateX(-90px);
    transition: all ease 0.8s;
}
.btn-box.arrow-btn .btn-icon img {
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
}
.btn-box.arrow-btn a:hover .btn-icon img {
    animation: none;
}
.btn-box.arrow-btn a:hover .btn-icon {
    transform: translateX(0);
    transition: all ease 0.6s;
}
.btn-box.arrow-btn a .btn-txt{
    opacity: 0;
    transition: opacity 0.3s;
}
.btn-box.arrow-btn a:hover .btn-txt{
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.2s;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

/* Our Technologies Section*/

/* Owl Carousel */
.fl-row.tech-slider {
    padding: 7em 0 0 0;
}
.fl-row.tech-slider .row {
    position: relative;
}
.tech-slider-box .owl-carousel .owl-stage {
    display: flex;
    /* transition: all ease-in-out 0.8s !important; */
}
.fl-row.tech-slider .row .col:first-child {
    position: absolute;
    padding-top: 7em;
}
.fl-row.tech-slider .row .col:nth-child(2) {
    width: 100%;
    margin-left: 33%;
}
.tech-slider-box .owl-carousel .owl-item img {
    width: fit-content;
}
.tech-slider-box .owl-carousel .owl-item:nth-child(odd) img {
    filter: brightness(0) saturate(100%) invert(72%) sepia(62%) saturate(3817%) hue-rotate(8deg) brightness(99%) contrast(98%);
}
.tech-slider-box .owl-carousel .owl-item:nth-child(even) img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(36%) saturate(6146%) hue-rotate(165deg) brightness(90%) contrast(104%);
}
.tech-slider-box .owl-carousel .icon-box.radio-svg img {
    width: 85px;
    margin-left: -20px;
}
.tech-slider-box .owl-carousel .icon-box.wrench img{
    transform-origin: 10px 10px;
    animation: wrench-anim 10s infinite linear;
}
@keyframes wrench-anim {
    0%{transform: rotateZ(0deg);}
    12%{transform: rotateZ(-20deg);}
    25%{transform: rotateZ(40deg);}
    38%{transform: rotateZ(-80deg);}
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(0deg);}
}
.tech-slider-box .owl-carousel.owl-drag .owl-item{
    overflow: hidden;
}
.tech-slider-box .owl-carousel.owl-drag .owl-item .item {
    padding: 70px 60px;
    background-color: var(--accent3);
    height: 100%;
    width: 400px;
    transition: all ease-out 0.5s;
}
.tech-slider-box .owl-carousel.owl-drag .owl-item:hover .item {
    scale: 1.1;
    transition: all ease-in 0.5s;
    background-color: #16203075;
}
.tech-slider-box .owl-carousel .item .text-block p {
    font-size: 18px;
}
.tech-slider-box .owl-theme .owl-dots {
    top: 30px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.tech-slider-box .owl-theme .owl-dots .owl-dot.active span {
    background: var(--accent);
    transition: all ease-in-out 0.4s;
    opacity: 1;
    box-shadow: 0 0 4px var(--accent);
    transform: scale(2);
}
.tech-slider-box .owl-theme .owl-dots .owl-dot span {
    transition: all ease-in-out 0.4s;
    opacity: 0.5;
    width: 8px;
    height: 8px;
    margin: 5px 9px;
}
.tech-slider-box .owl-theme .owl-nav {
    position: absolute;
    left: -33.5%;
    bottom: 0;
}
body .tech-slider-box .owl-theme .owl-nav > button {
    background-color: var(--accent1);
    border-radius: 50%;
    color: var(--white);
    width: 45px;
    height: 45px;
    transition: all ease 0.4s;
}
body .tech-slider-box .owl-theme .owl-nav > button:hover {
    background: var(--accent1);
    scale: 1.1;
    transition: all ease 0.4s;
}
.tech-slider-box .owl-theme .owl-nav > button i {
    font-size: 25px;
}