.header-primary {
    position: relative;
    z-index: 10;
}
.header-primary .main-logo img {
    filter: brightness(0) invert(1)
}
.header-primary .fl-row .col-group {
    flex-direction: row;
    align-items: center;
}
.header-primary .top-bar .col-group .col:first-child {
    width: 60%;
}
.header-primary .top-bar .col-group .col:nth-child(2) {
    width: 20%;
}
.header-primary .top-bar .col-group .col:last-child {
    width: 20%;
}
.header-primary .hdr-row .col-group .col:first-child {
    width: 20%;
}
.header-primary .hdr-row .col-group .col:nth-child(2) {
    width: 65%;
}
.header-primary .hdr-row .col-group .col:last-child {
    width: 15%;
}
.header-primary .hdr-row nav.head-menu {
    text-align: center;
} 
.header-primary .hdr-row nav.head-menu ul {
    list-style: none;
    margin: 0;
} 
.header-primary .hdr-row nav.head-menu ul li {  
    display: inline-block;
    margin: 0 15px;
}
.header-primary .hdr-row nav.head-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.header-primary .top-bar {
    padding: 10px 20px;
    border-bottom: solid 1px #ffffff3d;
}