.header-primary .main-logo img {
    filter: brightness(0) invert(1)
}
.header-primary .fl-row .col-group {
    flex-direction: row;
    align-items: center;
}
.header-primary .fl-row .col-group .col:first-child {
    width: 20%;
}
.header-primary .fl-row .col-group .col:nth-child(2) {
    width: 65%;
}
.header-primary .fl-row .col-group .col:last-child {
    width: 15%;
}
.header-primary .col nav.head-menu {
    text-align: center;
} 
.header-primary .col nav.head-menu ul {
    list-style: none;
} 
.header-primary .col nav.head-menu ul li {  
    display: inline-block;
    margin: 0 20px;
}
.header-primary .col nav.head-menu ul li a{
    text-decoration: none;
    color: #fff;
    
}