.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #0f1825;
    transition: all ease 0.6s;
}
.hdr-row .row .col {
    display: flex;
    align-items: center;
}
.sticky .hdr-row{
    padding: 1em 0;
    transition: all ease 0.6s;
}
.hdr-row{
    transition: all ease 0.6s;
}

/* Top Bar */
.header-main .top-bar {
    display: none;
}

/* Navigation */
.header-main nav.head-menu {
    text-align: center;
    width: 100%;
} 
.header-main nav.head-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.header-main nav.head-menu ul li {  
    display: inline-block;
    margin: 0 5px;
}
.header-main nav.head-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;
    padding: 10px;
}
.header-main nav.head-menu ul li a:before {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--accent);
    right: 0px;
    left: 0;
    width: 0px;
    margin: auto;
    position: absolute;
    transition: all ease 0.3s;
    opacity: 0;
    border-radius: 50%;
}
.header-main nav.head-menu ul li a:hover:before {
    transform: translateY(-12px);
    transition: all ease 0.3s;
    opacity: 1;
}
.header-main nav.head-menu ul li a.active {

}

/* Header Button */
div.hdr-btn a {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: all 0.5s;
}
div.hdr-btn a .btn-icon {
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}
div.hdr-btn a .btn-icon img {
    filter: invert(1);
}
div.hdr-btn a:hover .btn-icon {
    animation: get-start-icn infinite 1.5s;
}
div.hdr-btn a:hover .btn-icon img {
    /* filter: brightness(0) saturate(100%) invert(70%) sepia(27%) saturate(3767%) hue-rotate(5deg) brightness(94%) contrast(102%); */
}
@keyframes get-start-icn {
    0%   {transform: translate(0)}
    50%  {transform: translate(4px, -4px)}
    100% {transform: translate(0)}
}
div.hdr-btn a .btn-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -6px;
    bottom: -8px;
    background: url('https://i.postimg.cc/LXjj6Rq5/bonfire.png');
    background-repeat: no-repeat;
    transform: rotate(225deg);
    opacity: 0;
    transition: all ease 0.5s;
    /* filter: brightness(0) saturate(100%) invert(70%) sepia(27%) saturate(3767%) hue-rotate(5deg) brightness(94%) contrast(102%); */
}
div.hdr-btn a:hover .btn-icon::after{
    opacity: 1;
}
div.hdr-btn .btn-txt {
    padding-left: 10px;
    font-size: 17px;
    font-family: 'thicccboibold';
    z-index: 1;
}
div.hdr-btn a:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: solid 2px;
    border-left: solid 2px;
    border-image: linear-gradient(291deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    border-image-slice: 1;
    transition: all 0.6s;
    z-index: 0;
}
div.hdr-btn a:hover:before {
    height: 100%;
    width: 100%;
}
div.hdr-btn a:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-image: linear-gradient(291deg, rgba(229,161,2,1) 0%, rgba(0,128,128,1) 100%);
    border-image-slice: 1;
    transition: all 0.6s;
    z-index: 0;
}
div.hdr-btn a:hover:after {
    height: 100%;
    width: 100%;
    /* border-radius: 4px; */
}

/* Header Columns */
.hdr-row .row .col:last-child {
    justify-content: flex-end;
}

/* Mobile Nav */
.m-nav-btn{
    display: none;
}
.hdr-row .row .col:nth-child(2){
    padding: 0;
}

.m-nav-btn img {
    position: absolute;
    right: 1em;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.m-nav-btn .menu-close {
    opacity: 0;
    transition: opacity 0.3s;
}
div.m-nav-btn .menu-close-show {
    animation: close-fancy 1s;
    opacity: 1;
    transition-delay: 0.2s;
}

@keyframes close-fancy {
    0% {transform: rotate(0);}
    100% {transform: rotate(90deg)}
}

div.m-nav-btn .hamburger-hide {
    opacity: 0;
    transition-delay: 0s;
}
.m-nav-btn .hamburger {
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
}

.menu-logo.top img {
    position: relative;
    z-index: 999;
    filter: brightness(0) invert(1);
    animation: mob-logo 1s;
}

@keyframes mob-logo {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/***************** Media Queries *****************/

@media (max-width: 991px) {
    .fl-row.hdr-row {
        padding: 1em 0;
    }
    .hdr-row .row .col:last-child {
        display: none;
    }
    .hdr-row .row .col:nth-child(2){
        justify-content: flex-end;
    }
    .m-nav-btn{
        display: block;
        filter: invert(1);
    }
    .m-nav-btn.draw {
        position: fixed;
    }

    .head-menu {
        position: fixed;
        float: none;
        display: block;
        background: var(--accent);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: all ease 0.8s;
        transform: translateY(-120%);
    }
    .head-menu.responsive {
        transform: translateY(0);
        transition: all ease 0.8s;
    }
    .header-main .hdr-row nav.head-menu ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        z-index: 5;
        position: relative;
    }
    .header-main .hdr-row nav.head-menu ul li {
        padding: 15px;
    }
    .header-main .hdr-row nav.head-menu::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 120%;
        background: #000;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.15;
    }    
    .header-main .hdr-row nav.head-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: -19%;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23e5a102' fill-opacity='1' d='M0,160L17.1,149.3C34.3,139,69,117,103,96C137.1,75,171,53,206,58.7C240,64,274,96,309,106.7C342.9,117,377,107,411,96C445.7,85,480,75,514,96C548.6,117,583,171,617,202.7C651.4,235,686,245,720,234.7C754.3,224,789,192,823,186.7C857.1,181,891,203,926,186.7C960,171,994,117,1029,106.7C1062.9,96,1097,128,1131,122.7C1165.7,117,1200,75,1234,96C1268.6,117,1303,203,1337,213.3C1371.4,224,1406,160,1423,128L1440,96L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    }

}
@media (max-width: 768px) {
    
}
@media (min-width: 576px) and (max-width: 1199px) {
    .container, .container-md, .container-sm {
        max-width: calc(100% - 2em);
    }
}
@media (max-width: 575px){
    div.container {
        --bs-gutter-x: 2.5em;
    }

}